<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Host Page</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="host.component.css">
</head>
<body>
    <div class="container">
        <div class="host-profile">
            <div class="host-photo">
                <img src="data:image/jpeg;base64, {{host.hostPhoto}}" alt="Host Photo"/>
            </div>
            <div class="host-bio">
                <h2>{{host.firstName}} {{host.lastName}}</h2>
                <p>{{host.hostBio}}</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="appointments-section">
            <h3>Appointments</h3>
            <ul class="appointments-list">
                <li *ngFor="let appointment of appointments">
                    <span class="appointment-date">{{ appointment.appointmentDate | date }}</span> -
                    <span class="appointment-desc">{{ appointment.appointmentDescription }}</span>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
